{
  "items": [
	{
	  "id": "LiberarMesa",
	  "type": "menu_item",
	  "caption": "Liberar Mesa (bloqueadas: %bloqueadas%)",
	  "category": "mesa",
	  "visible": "%hab_liberar%"
	  
	},
	{
	  "id": "BloquearMesa",
	  "type": "menu_item",
	  "caption": "Bloquear Mesa",
	  "category": "mesa"
	}
  ]
}